.row-content{
    height: 625px;
    color: #ffffff;
}

.design-area{
    /*background-image: url("/customization/grid.jpg");*/
    background-color: #171719;
    height: 100%;
    background-size: cover;
}
.row-content .img-container{
    margin:20px ;
    width: 420px;
    height: 468px;
}
.myRight{
    text-align: center;
    background-color: #292C31;
    color: #EFF2F7;
}
.layer{
    padding: 17px 10px;
    background-color: #25282C;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 0px;
    ;
}
.ro{
    width: 100%;
    position: relative;
    top: -8px;
}
.col-lg-2{
    padding-right: 0px;
    padding-left: 0px;
}
.layers-content{
    padding: 15px;


}
.upload{
    border: 2px solid #2B3075;
    height: 81px;
    width: 170px;
    float: left;
    /*cursor: pointer;*/
}
.layers-content i{
    margin-top: 31px;
}

.droppable-container{
    border: 2px solid #2B3075;
}


button.left, button.right{
    border: none;

}
button.left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
button.right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
button:hover{
    background-color:#DDD;
}
.controler{
    /*margin:7px 15px ;*/
    margin-left: 15px;
    margin-top: 7px;
}
/***
left-side controller
 */
.left-side{
    background-color: #171719;
    color: #ffffff;
    padding-left: 15px;
}
.left-side .icons{

    margin: 15px 0px;
    padding: 0;
}
.left-side .icons div{
    background-color: #292c31;
    color: #a9aaac;
}
.left-side .icons div:hover{
    background-color: #2d3039;
    color: #ffffff;
    cursor: pointer;

}
.left-side .icons div i{
    padding:10px 5px;
    font-size: 20px;
    margin: auto;
    width: 100%;
    text-align: center;
}
#addTextForm{
    margin-left: 3px;
    background-color: #292c31;
    color: #a9aaac;
    padding: 7px;
}
#addTextForm .box-body{
    padding-left: 0px;
    padding-right: 0px;
}
#textToDesplay{
    display: none;
    position: absolute;
    top: 229px;
    left: 172px;
    border: 1px dotted #000;
    padding: 7px 10px;
}
